include README.md
include LICENSE
include requirements.txt
recursive-include parrots *.py
recursive-include parrots/data *
recursive-include parrots/indextts *.py
recursive-include parrots/indextts/gpt *.py
recursive-include parrots/indextts/BigVGAN *.py
recursive-include parrots/indextts/utils *.py
recursive-include parrots/indextts/s2mel *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .ipynb_checkpoints
global-exclude *.so
global-exclude *.dylib
