pypinyin
jieba
loguru
transformers<=4.57.1
huggingface_hub
librosa
nltk
g2p_en
cn2an
zh-normalization
einops
soundfile
fire
tqdm
descript-audiotools
torchaudio
torchcodec
munch
wetext
pandas
sentencepiece